@model OrderVM
@{
    ViewData["Title"] = "Create";
}

<main id="main">
    <!-- Breadcrumb start -->
    <section class="page-breadcrumb">
        <div class="content">
            <img src="~/assets/img/breadcrumb/banner.jpg" alt="">
            <div class="crumbcontent">
                <h1>Checkout</h1>
                <div>
                    <a href="index.html">Home</a> <span>/</span> <span>Checkout</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb end -->

    <section class="checkout-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Billing Details</h2>
                    @await Html.PartialAsync("_OrderPartial",Model)
                </div>
            </div>
        </div>
    </section>
</main>