@model AboutVM
@{
    ViewData["Title"] = "Index";
}

<main id="main">
    <!-- Breadcrumb start -->
    <section class="page-breadcrumb">
        <div class="content">
            <img src="assets/img/breadcrumb/banner.jpg" alt="">
            <div class="crumbcontent">
                <h1>About Us</h1>
                <div>
                    <a href="index.html">Home</a> <span>/</span> <span>About Us</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb end -->
    <!-- Product-Promo start -->
    @foreach (ProductPromo promo in Model.ProductPromos)
    {
        <section class="product-promo">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 left">
                        <img src="~/assets/img/product-promo/@promo.Image" alt="">
                    </div>
                    <div class="col-lg-5 right">
                        <h1>@promo.Title</h1>
                        <p>@promo.Description</p>
                        <a asp-controller="Shop" asp-action="Index">SHOP THE LOOK</a>
                    </div>
                </div>
            </div>
        </section>
    }
    <!-- Product-Promo end -->
    <!-- Our Mission start -->
    <section class="our-mission-section">
        <div class="our-mission">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 left">
                        <h1>Our Mission</h1>
                        <p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits, vitamins, and other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish for soft, velvety smooth skin. Made using clean, non-toxic ingredients, our products are designed for everyone… <br><br> Looking for love in all the wrong places? Start with something pure, something good for you, and something that makes you feel pampered like a princess. We’re talking about clean beauty gift sets, of course – and we’ve got a bouquet of beauties for yourself or someone you love!</p>
                    </div>
                    <div class="col-lg-6 right">
                        <img src="assets/img/about/IMG-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Mission start -->

    <section class="team-section">
        <div class="container">
            <h1>We Pride Ourselves On Have A Team Of Highly Skilled</h1>
            <p>Preorder now to receive exclusive deals & gifts</p>
            <div class="row">
                @foreach (OurTeam ourTeam in Model.OurTeams)
                {
                    <div class="col-lg-4">
                        <img src="~/assets/img/about/@ourTeam.Image" alt="">
                        <span class="position">@ourTeam.Position</span>
                        <span class="fullname">@ourTeam.FullName</span>
                    </div>
                }
            </div>
        </div>
    </section>
</main>