@model RegisterVM
<h2>Sign Up</h2>
<form method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="col-lg-12 ">
            <input asp-for="FullName" placeholder="Full Name *" type="text" required>
        </div>
        <div class="col-lg-12 ">
            <input asp-for="UserName" placeholder="Username *" type="text" required>
        </div>
        <div class="col-lg-12 ">
            <input asp-for="Email" placeholder="Email *" type="email" required>
        </div>
        <div class="col-lg-6">
            <input asp-for="Password" placeholder="Password *" type="password" required>
        </div>
        <div class="col-lg-6">
            <input asp-for="ConfirmPassword" placeholder="Confirm Password *" type="password" required>
        </div>
    </div>
    <div class="col-lg-12 mt-4">
        <button>Register</button>
    </div>
</form>
<div class="login">
    <a asp-controller="Account" asp-action="Login">Login</a>
</div>

@section Script{
    <partial name="_ValidationFormScriptPartial">
}
