@model Contact
@{
    ViewData["Title"] = "Index";
}
<main id="main">
    <!-- Breadcrumb start -->
    <section class="page-breadcrumb">
        <div class="content">
            <img src="assets/img/breadcrumb/banner.jpg" alt="">
            <div class="crumbcontent">
                <h1>Contacts</h1>
                <div>
                    <a href="index.html">Home</a> <span>/</span> <span>Contacts</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb end -->

    <section class="map-section">
        <div class="container">
            <iframe frameborder="0" width="100%" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
        </div>
    </section>

    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 right mx-auto">
                    <h2 class="title">Contact Us</h2>
                    <p class="subtitle">Your email address will not be published. Required fields are marked *</p>
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <input asp-for="FullName" placeholder="Fullname *" type="text" required>
                            </div>
                            <div class="col-lg-6">
                                <input asp-for="Phone" placeholder="Phone *" type="text" required>
                            </div>
                            <div class="col-lg-12">
                                <input asp-for="Email" placeholder="Email *" type="email" required>
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message *" asp-for="Message" class="form-control2" required></textarea>
                            </div>
                            <div class="col-lg-5">
                                <button class="btn-submit" type="submit">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>