@model Setting
@{
    ViewData["Title"] = "Update";
}
<div class="row">
    <div class="col-lg-12 h3 mb-4 text-gray-800">
        <h1>Setting Update</h1>
    </div>
    <div class="col-lg-2 mb-3">
        <img class="w-100" src="~/assets/img/@Model.Logo" alt="Alternate Text" />
    </div>
    <div class="col-lg-12 mx-auto">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" placeholder="Enter Phone">
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Enter Address">
                <span class="text-danger" asp-validation-for="Address"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer"></label>
                <textarea asp-for="Offer" class="form-control" placeholder="Enter Offer"></textarea>
                <span class="text-danger" asp-validation-for="Offer"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoImage"></label>
                <input class="form-control pt-1" accept="image/png" asp-for="LogoImage" placeholder="Enter Logo Image">
                <span class="text-danger" asp-validation-for="LogoImage"></span>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>
@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}